<div class="container fill">
  <h3>Modificar Circulo</h3>
  <div class="breadcrumb">

      <%= link_to 'Mostrar', @circulo %> |
      <%= link_to 'Atrás', circulos_path%>
    </div>
    <%= render 'form' %>

</div>