<h1>Modificar Circulo</h1>
<div class="circulos">
    <div class="breadcrumb">

      <%= link_to 'Mostrar', @circulo %> |
      <%= link_to 'Atrás', circulos_path%>
    </div>
    <%= render 'form' %>

</div>