<div class="fill">
  <h3>Modificar Entrega de sectores</h3>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @delivery_status %> |
    <%= link_to 'Atrás', delivery_statuses_path %>
  </div>

  <%= render 'form' %>

</div>