<div class="container fill">
  <div class="breadcrumb">
    <%= link_to 'Modificar', edit_delivery_status_path(@delivery_status) %> |
    <%= link_to 'Atrás', delivery_statuses_path %>
  </div>
	<div class="row">
		<h2><%=@delivery_status.compra %></h2>
	</div>
<%= @delivery_status.to_yaml %>
</div>