<div id="steps" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <span class="icon-lmpin"></span>
      <h2>Diez pasos para sumarte.</h2>
      <p>Por medio de estos simples diez pasos, vos y gente de tu confianza se pueden sumar y formar parte de la Gran Misi&oacute;n Anti Inflaci&oacute;n</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmcirc"></span>
      <h2>Arm&aacute; tu c&iacute;rculo.</h2>
      <p>Buscá entre 2 y 4 hogares que quieran sumarse a conformar un círculo con tu hogar. Los círculos tienen que estar conformados por al menos 3 hogares, y no más de 5</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmstr"></span>
      <h2>Designá un coordinador.</h2>
      <p>Designá entre todos los miembros quien será el coordinador. Esa persona se encargará de entrar a la web, al segmento "Activá Tu Círculo". Ahí cargará todos los datos del hogar coordinador del círculo, y los mails de los otros miembros que conforman el círculo.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmnet"></span>
      <h2>Inscripción.</h2>
      <p>El sistema enviará al mail de los integrantes del círculo, un mensaje para confirmar su inscripción donde deberán completar sus datos.</p>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <span class="icon-lmcon"></span>
      <h2>Círculo activo.</h2>
      <p>Una vez que se llega a los 3 miembros, se activa la conformación del círculo y cada miembro tiene su cuenta de compra.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmcart"></span>
      <h2>Cuenta activa.</h2>
      <p>Una vez al mes se activa la cuenta de los consumidores para que cada uno realice sus pedidos.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmcloud"></span>
      <h2>Pedidos para compra.</h2>
      <p>En la cuenta del coordinador se centralizarán los pedidos del círculo. Culminado el tiempo/plazo de compra, le llegará a la cuenta del coordinador el monto total por cada consumidor y el total del círculo, incluida la cuota social mensual.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmtag"></span>
      <h2>Operatoria de la compra.</h2>
      <p>El coordinador se organizará con los miembros de su círculo para recoger el monto total y realizar el pago correspondiente (vía depósito o transferencia). Una vez realizado el pago del círculo, el coordinador enviará el número de transacción a través del cual queda confirmada la compra del círculo.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmdate"></span>
      <h2>Retiro del pedido.</h2>
      <p>Uno o dos días antes de la entrega de los pedidos, nos comunicaremos con el coordinador para confirmar el horario y la persona que retirará  los pedidos de su círculo.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-paperplane"></span>
      <h2>La entrega.</h2>
      <p>El día de la entrega un miembro del círculo se acercará al centro de entrega a recoger los pedidos y facturas de cada uno de sus miembros  y coordinará con ellos la distribución.</p>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <span class="icon-lmfinish"></span>
      <h2>Listo.</h2>
      <p>Hora de disfrutar los beneficios de la organización y de comentar, opinar y sugerir a través de la web, para seguir perfeccionando la herramienta.<br><a id="lm-activar-circulo" class="activar-circulo" href="#">Activa tu circulo</a></p>
      <div class="carousel-caption">

      </div>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#steps" data-slide-to="0" class="active"></li>
    <li data-target="#steps" data-slide-to="1"></li>
    <li data-target="#steps" data-slide-to="2"></li>
    <li data-target="#steps" data-slide-to="3"></li>
    <li data-target="#steps" data-slide-to="4"></li>
    <li data-target="#steps" data-slide-to="5"></li>
    <li data-target="#steps" data-slide-to="6"></li>
    <li data-target="#steps" data-slide-to="7"></li>
    <li data-target="#steps" data-slide-to="8"></li>
    <li data-target="#steps" data-slide-to="9"></li>
  </ol>
  <a class="carousel-control left" href="#steps" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#steps" data-slide="next">&rsaquo;</a>
</div>
