<div class="container fill">
  <h3>Modificar Sector</h3>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @sector %> |
    <%= link_to 'Atrás', sectors_path %>
  </div>

  <%= render 'form' %>

</div>