<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Bienvenido <%=h @email %>!</p>

    <p>El usuario <%=h @coordinador.nombre_completo %> te ha invitado a formar parte de la Gran Misión.</p>

    <p>Puedes confirmar tu cuenta de usuario siguiendo el link siguiente:</p>

    <p><%=h link_to 'Registrate Aquí!', new_usuario_registration_url %></p>
  </body>
</html>
