<% content_for :title, 'Quienes somos' %>
<% navigation_add 'Quienes somos', '#' %>
<div class="center-section">
  <h3>Quienes somos</h3>
</div>
<div class="privacy">
  <div class="privacy1">
    <div class="banner-bottom-grid1 privacy2-grid">
      <div class="privacy2-grid1">
        <div class="privacy2-grid1-sub">
          <h5>¿Qué es la Misión?</h5>
          <div class="row">
            <div class="col-md-8">
              <p>
                La Misión Anti Inflación es un <b>proyecto de Ciudad Futura</b> que se desarrolla desde el 2014. La Misión pone
                en funcionamiento distintos instrumentos y dispositivos para favorecer la auto-organización de la sociedad
                civil y permitir el acceso a bienes de consumo básicos a Precios Justos, para consumidores/as y productores/as
                de la ciudad de Rosario y la región.
              </p>
              <p>
                En base a la <b>economía colaborativa y solidaria</b>, la Misión permite eliminar progresivamente a los intermediarios,
                formadores de precios, y establecer un vínculo directo entre los dos eslabones más débiles de la cadena
                productiva: Productorxs y Consumidorxs. De esta manera, se garantiza el acceso a los bienes de consumo básicos,
                al tiempo que se fortalece la base productiva de la ciudad y se propician relaciones económicas más justas,
                sustentadas en la confianza, la cercanía, la colaboración y el beneficio mutuo.
              </p>
            </div>
            <div class="col-md-4">
              <%= image_tag 'v2/quienes_somos1.png', class: 'img-responsive' %>
            </div>
          </div>
        </div>
        <div class="privacy2-grid1-sub">
          <h5>¿Qué es la Economía Colaborativa?</h5>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'v2/quienes_somos2.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-8">
              <p>
                La Economía Colaborativa es una forma de intercambio de bienes y servicios alternativa, que propicia la formación
                de nuevos mercados basados en la colaboración y solidaridad, a través del uso común de las nuevas tecnologías.
              </p>
              <p>
                La Economía Colaborativa supone también cambios culturales en los hábitos de consumo, desde el consumismo
                individualizado, hacia nuevos modelos sustentables y colectivos, fomentando la organización de la sociedad
                civil para abordar la producción y el consumo de los bienes y servicios necesarios.
              </p>
            </div>
          </div>
        </div>
        <div class="privacy2-grid1-sub">
          <h5>¿Qué es el Precio Justo?</h5>
          <div class="row">
            <div class="col-md-8">
              <p>
                El Precio Justo es aquel que permite <b>garantizar relaciones económicas más justas</b>, tanto para productorxs como
                para consumidorxs. Su definición se sustenta en la confianza, la colaboración y la idea de beneficio mutuo.
              </p>
              <p>
                Un precio justo no solo debe cubrir el costo de producción, sino que también debe conseguir que la producción sea
                justa social y ambientalmente, garantizando la no explotación y el cuidado del medio ambiente. Además,
                toma en consideración el principio de igualdad de paga para mujeres y varones.
              </p>
            </div>
            <div class="col-md-4">
              <%= image_tag 'v2/quienes_somos3.png', class: 'img-responsive' %>
            </div>
          </div>

        </div>
        <div class="privacy2-grid1-sub">
          <h5>¿Cómo funciona la Misión?</h5>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'v2/quienes_somos4.png', class: 'img-responsive' %>
            </div>
            <div class="col-md-8">
              <p>
                La Misión funciona en base a la colaboración entre los hogares que participan, por un lado, y el compromiso y
                participación de los y las productoras, por otro.
              </p>
              <p>
                Los y las cosumidoras se organizan en círculos de confianza, compuestos por 2 a 5 hogares. Mensualmente, a través
                de la Plataforma Web, hacen su compra, pudiendo elegir entre productos de un carrito digital que expresa los
                precios ofrecidos y los ahorros comparados a los hipermercados. Una semana después, tras efectuar el pago total
                de la compra del círculo, retiran sus mercaderías en uno de los seis centros de distribución existentes hoy
                en la ciudad.
              </p>
              <p>
                Los y las productoras, por su parte, se comprometen a fijar Precios Justos de sus mercaderías, y colaboran con
                la logística de distribución en los puntos de entrega.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>