<div class="fill">
  <div class="row">
    <h2>Editar detalles de transacción</h2>
    <div class="breadcrumb">
      <%= link_to 'Modificar', @transaction_detail %> |
      <%= link_to 'Atras', transaction_details_path %>
    </div>

		<%= render 'form' %>
	</div>
</div>