<div class="fill">
  <div class="row">
    <h2>Nuevo detalle</h2>
    <div class="breadcrumb">
      <%= link_to 'Atras', transaction_details_path %>
    </div>

		<%= render 'form' %>

	</div>
</div>
