<section class="slider">
  <div class="flexslider">
    <div class="row">
      <ul class="slides">
        <li>
          <div class="w3l_banner_nav_right_banner">

          </div>
        </li>
        <li>
          <div class="w3l_banner_nav_right_banner1">
            <div class="col-md-12">
              
          </div>
        </li>
        <li>
          <div class="w3l_banner_nav_right_banner2">
           
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>