<section class="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="w3l_banner_nav_right_banner">
          <h3>Más de 350 productos<span>30%</span> de ahorro.</h3>
          <h4>respecto a súper</h4>
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
      <li>
        <div class="w3l_banner_nav_right_banner1">
          <h3>Agregale <span>ralladito</span> a tú comida.</h3>
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
      <li>
        <div class="w3l_banner_nav_right_banner2">
          <h3>Obtené <i>40%</i> de ahorro.</h3>
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>