<section class="slider">
  <div class="flexslider">
    <div class="row">
      <ul class="slides">
        <li>
          <div class="w3l_banner_nav_right_banner">
            <%= image_tag('v2/mision_banner1.jpg') %>
          </div>
        </li>

        <li>
          <div class="w3l_banner_nav_right_banner2">
            <%= image_tag('v2/mision_banner3.jpg') %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="wp-button">
  <% Warehouse.all.each do |warehouse| %>
    <%if warehouse.id == 6 %>
        <a href="https://wa.me/549<%= warehouse.telephone%>">
          <i class="fa fa-whatsapp"></i>
        </a>
    <%end%>
  <%end%>
</div>