<section class="slider">
  <div class="flexslider">
    <div class="row">
      <ul class="slides">
        <li>
          <div class="w3l_banner_nav_right_banner">
            <%= image_tag('v2/banners-mision1.png') %>
          </div>
        </li>
        <li>
          <div class="w3l_banner_nav_right_banner1">
            <%= image_tag('v2/banners-mision2.png') %>
              
          </div>
        </li>
        <li>
          <div class="w3l_banner_nav_right_banner2">
            <%= image_tag('v2/banners-mision3.png') %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>