<section class="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="w3l_banner_nav_right_banner">
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
      <li>
        <div class="w3l_banner_nav_right_banner1">
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
      <li>
        <div class="w3l_banner_nav_right_banner2">
          <div class="more">
            <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Comprar ahora">Comprar ahora</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>