<div class="modal fade in" id="mai-escuela">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<%= image_tag 'mai-escuela-10.jpg', class: 'img-responsive'%>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Nuevos bolsones escolares</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h2>Primario (18 artículos)</h2>
								</div>
								<div class="panel-body">
									<ul>
										<li>Block dibujo triunfante blanco 20 hjs</li>
										<li>Cuaderno Triunfante tapa dura raya 50hjs</li>
										<li>Cuaderno Triunfante tapa dura cuadro 50 hjs</li>
										<li>2 Bolígrafos Dolche color</li>
										<li>2 Lápices grafito Simball Innovation</li>
										<li>Goma lápiz y tinta</li>
										<li>Tijera 12 cm simball pop</li>
										<li>Escuadra 60x20</li>
										<li>Regla 20cm</li>
										<li>Transportador 180º</li>
										<li>Corrector taiko</li>
										<li>Ceritas x 6 Simball</li>
										<li>Lápiz de color x 12 Simball</li>
										<li>Fibras x 6 Simball</li>
										<li>Sacapunta Maped boogy</li>
										<li>Voligoma 30cc</li>
									</ul>
								</div>
								<div class="panel-footer text-right">
									<span class="badge">$220</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h2>Secundario (20 artículos)</h2>
								</div>
								<div class="panel-body">
									<ul>
										<li>Repuesto Triunfante X 96 Raya 90 Grs</li>
										<li>Repuesto Triunfante X 96 Cuadro 90grs</li>
										<li>3 Microfibras King 300</li>
										<li>2 Bolígrafos Azules Faber Trilux</li>
										<li>2 Boligrafos Dolche de Colores</li>
										<li>Goma lapiz Y tinta</li>
										<li>Regla 20cm</li>
										<li>Corrector Taiko</li>
										<li>Adhesivo Barra Simball 8gr</li>
										<li>3 Resaltadores Margi 2000</li>
										<li>10 Folios Reforzados</li>
										<li>10 Cartulinas De Colores</li>
										<li>2 Lápices Grafito Simball Innovation</li>
										<li class="vacia">&nbsp;</li>
										<li class="vacia">&nbsp;</li>
									</ul>
								</div>
								<p></p>
								<p></p>
								<div class="panel-footer text-right">
									<span class="badge">$180</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="col-lg-12">
								<p>Para realizar tú pedido tienes que tener un usuario de la Misión</p>
								<p>Si no sos parte de la MAI, hacé click <a href="/usuarios/sign_up">
									AQUÍ </a>para registrarte</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
