<!-- top-brands -->
<div class="top-brands">
  <h3>Ofertas</h3>
  <div class="agile_top_brands_grids">
    <% @offers.each do |producto|%>
      <%= render 'productos/item', producto: producto %>
    <% end %>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //top-brands -->