<div class="center-section">
  <h3>Hola <%= current_usuario.nombre %></h3>

  <% if !current_usuario.completed? or current_usuario.circulo.blank? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>Para poder realizar tus pedidos debés</h4>
          <ul>
            <% if !current_usuario.completed? %>
              <li>Completar tus datos personales haciendo clic en
                <span>
                    <%= link_to(edit_usuario_path(current_usuario)) do %>
                      Mis Datos
                    <% end %>
                  </span>
              </li>
            <% end %>
            <% if current_usuario.circulo.blank? %>
              <li>Pertenecer a un círculo de asociades,
                <span>
                    <%= link_to(usuario_path(current_usuario)) do %>
                      Mi Círculo
                    <% end %>
                  </span>
              </li>
            <% end %>
            <li>
              Para más información sobre como realizar un pedido
              <%= link_to(como_compro_path(1)) do %>
                Como comprar
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <p>Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
      Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
      de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail
      a <b>victoriacolectiva@gmail.com</b>
    </p>
  </div>
</div>









