<div class="center-section">
  <h3>Hola <%= current_usuario.nombre %></h3>

  <% if  ! current_usuario.completed? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>
            Tienes datos incompletos, para poder realizar la compra, debes completarlos en
            <span><%= link_to(edit_usuario_path(current_usuario)) do %>
              Mis Datos
              <% end %>
            </span>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
  <% if current_usuario.circulo.blank? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>
            No perteneces a un círculo, tiene que ser miembro o coordinar uno.
            <span>
              <%= link_to(usuario_path(current_usuario)) do %>
                Mi Círculo
              <% end %>
            </span>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <p>Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
      Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
      de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail
      a <b>victoriacolectiva@gmail.com</b>
    </p>
  </div>
</div>









