<%= javascript_include_tag "home" %>
<div class="container fill">
	<div id="ciclos" data-start-date="<%= @compra.first.fecha_inicio_compras %>"></div>
  <h2 class="titulo">Bienvenido a tu panel de administración.</h2>

  <p class="explicacion">Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
  Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
  de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail<br/>
  a victoriacolectiva@gmail.com</p>

	<div class="row calendar text-center">
		<h1>Próximo Ciclo de compras de tú círculo</h1>
		<div id="calendar"></div>
	</div>


</div>

