<div class="center-section">
  <h3>Hola <%= current_usuario.nombre %></h3>
  <br>
  <br>
  <div class="row">
    <p>Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
      Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
      de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail
      a <b>victoriacolectiva@gmail.com</b>
    </p>
  </div>
</div>
<div class="row">
  <% if @compra.present? %>
    <div id="ciclos" data-start-date="<%= @compra.first.fecha_inicio_compras %>"></div>
    <div class="row calendar text-center">
      <div class="col-md-6 col-md-offset-3">
        <h1>Próximo Ciclo de compras de tú círculo</h1>
        <div id="calendar"></div>
      </div>
    </div>
  <% end %>
</div>








