<div class="container fill">
	<h2 class="titulo">Bienvenido a tu panel de administración.</h2>

	<p class="explicacion">Si estas acá, es porque sos consumidor en la Misión Anti Inflación.<br/>
		Desde tu panel, ademas de hacer tu pedido, ver tus pedidos realizados y ver los integrantes de tú círculo. <br/>
		Ante cualquier duda, consultanos vía mail a victoriacolectiva@gmail.com</p>

	<%= image_tag 'calendario_ciclos.jpg'%>

</div>