<div class="home">
  <h1 class="titulo">Bienvenido a tu panel de administraci칩n.</h1>

  <p class="explicacion">Si estas ac치, es porque sos administrador en la Misi칩n Anti Inflaci칩n.<br/>
  Utiliza el menu superior para acceder y administrar el sitio.</p>

  <%= image_tag 'acceso_panel_admin.png'%>

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="karma" data-view="Number" data-title="Karma" style="background-color:#96bf48;"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-prefix="$"></div>
      </li>
    </ul>
  </div>

</div>