<div class="home">
  <h1 class="titulo">Bienvenido a tu panel de administración.</h1>

  <p class="explicacion">Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
  Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
  de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail<br/>
  a victoriacolectiva@gmail.com</p>

  <%= image_tag 'acceso_panel_admin.png'%>
</div>