<div class="home">
  <h1 class="titulo">Bienvenido a tu panel de administraci칩n.</h1>

  <p class="explicacion">Si estas ac치, es porque sos administrador en la Misi칩n Anti Inflaci칩n.<br/>
  Utiliza el menu superior para acceder y administrar el sitio.</p>

  <%= image_tag 'acceso_panel_admin.png'%>
</div>