<div class="container fill">
	<div class="row">
	  <div class="col-xs-12 col-md-12 text-center">
		  <div class="col-xs-4 col-md-4">
			  <%= image_tag('dossierCorto.jpg', class: 'img-responsive') %>
		  </div>
	    <div class="col-xs-8 col-md-8">
	      <%= image_tag 'consumidores.jpg', class: 'img-responsive'%>
	    </div>

		</div>
	</div>
</div>
