<%= javascript_include_tag "home" %>
<div class="container fill">
	<div class="row">
		<div class="col-xs-12 col-md-12 text-center">
			<div class="col-xs-12 col-md-12">
				<%= image_tag 'pieza.png', class: 'img-responsive'%>
			</div>

		</div>
	</div>
</div>
<% if @ciclo_actual.present? %>
	<%= render 'home/modal_home' %>
<% end %>