<div class="container fill">
	<div class="row">
	  <div class="col-xs-12 col-md-3">
		  <h1>La Tienda</h1>
      <%= render 'carts/menu' %>
		</div>
		<div class="col-xs-12 col-md-9">
			//aca va el contenido
		</div>
	</div>
</div>
