<div class="container fill">
	<div class="row">
		<div class="col-xs-12 col-md-12 text-center">
			<div class="col-xs-12 col-md-12">
				<%= image_tag 'pieza.png', class: 'img-responsive'%>
			</div>

		</div>
	</div>
</div>
