
<span class="alert alert-danger">Para finalizar, complete sus datos personales</span>

<% if @current_cycle.present? && current_usuario.present? && !current_usuario.pedido?(@current_cycle) %>
  <div class="checkout-right-basket">
    <%= link_to edit_usuario_path(current_usuario), class: "btn btn-success" do %>
      Mis Datos  <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <% end %>
  </div>
<% end %>

<div class="clearfix"> </div>
