<div class="checkout-left">
  <div class="col-md-8 address_form_agile">
    <h4>Add a new Details</h4>
    <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
      <section class="creditly-wrapper wthree, w3_agileits_wrapper">
        <div class="information-wrapper">
          <div class="first-row form-group">
            <div class="controls">
              <label class="control-label">Full name: </label>
              <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
            </div>
            <div class="w3_agileits_card_number_grids">
              <div class="w3_agileits_card_number_grid_left">
                <div class="controls">
                  <label class="control-label">Mobile number:</label>
                  <input class="form-control" type="text" placeholder="Mobile number">
                </div>
              </div>
              <div class="w3_agileits_card_number_grid_right">
                <div class="controls">
                  <label class="control-label">Landmark: </label>
                  <input class="form-control" type="text" placeholder="Landmark">
                </div>
              </div>
              <div class="clear"> </div>
            </div>
            <div class="controls">
              <label class="control-label">Town/City: </label>
              <input class="form-control" type="text" placeholder="Town/City">
            </div>
            <div class="controls">
              <label class="control-label">Address type: </label>
              <select class="form-control option-w3ls">
                <option>Office</option>
                <option>Home</option>
                <option>Commercial</option>

              </select>
            </div>
          </div>
          <button class="submit check_out">Delivery to this Address</button>
        </div>
      </section>
    </form>

    <% if @current_cycle.present? && current_usuario.present? && !current_usuario.pedido?(@current_cycle) %>
      <div class="checkout-right-basket">
        <%= link_to create_pedido_path, class: "btn btn-success #{'disabled' if @missing.present?}",
                    id: 'finalizar' do %>
          Finalizar pedido  <span class="fa fa-chevron-right" aria-hidden="true"></span>

        <% end %>
      </div>
    <% end %>
  </div>

  <div class="clearfix"> </div>
</div>