<%= form_for :pedidos, url: create_pedido_path,  method: :get, html: {id: 'warehouses-choose'} do |f| %>
		<%= f.hidden_field :warehouse, :value => "1"  %>
		<div class="form-group">
			<div><%= submit_tag "Realizar pedido", class: "btn btn-success pull-right #{'disabled' if @missing.present?}" %></div>
		</div>
<% end %>