<div class="fill">
  <h3>Modificar Categoria</h3>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @categoria%> |
    <%= link_to 'Atrás', categorias_path %>
  </div>
    <%= render 'form' %>

</div>