<div class="container fill">
  <h1>Modificar Categoria</h1>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @categoria%> |
    <%= link_to 'Atrás', categorias_path %>
  </div>
    <%= render 'form' %>

</div>