<div id="content-circulos" class="<%= 'hide' if @compra.tipo == 'free' or @compra.tipo == 'mini' %> ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Distritos</h3>
    </div>
    <div class="panel-body">

      <% Warehouse.all.each do |warehouse| %>
        <div class="col-md-3">
          <label><%= warehouse.name -%>
            <%= check_box_tag "warehouse_#{warehouse.id}", warehouse.id %>
          </label>
        </div>
      <% end %>
    </div>
    <div class="panel-footer"></div>
  </div>
  <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Círculos</h3>
		</div>
		<div class="panel-body">

			<table class="table table-striped">
				<thead>
				<tr>
					<th>Nro Circulo</th>
					<th>Coordinador</th>
					<th>Distrito</th>
					<th colspan="3"></th>
				</tr>
				</thead>

				<tbody id="circulos_items">
          <%= render partial: 'show_circles', locals: {circulos: @circulos} %>
				</tbody>
			</table>
		</div>
		<div class="panel-footer"></div>
	</div>
</div>