<div class="container fill">
  <h3>Editar Ciclo de Compra</h3>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @compra %>
    <%= link_to 'Atras', compras_path %>
  </div>
    <%= render 'form' %>
</div>
