<%= javascript_include_tag "compras", params[:controller] %>
<div class="container fill">
  <h3>Nuevo Ciclo</h3>
  <div class="breadcrumb">
    <%= link_to 'Volver', compras_path %>
  </div>
	<div class="row">
    <%= render 'form' %>
	</div>

</div>