<%- model_class = Producto -%>
<div class="container fill">
  <div class="row">
	  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>

		<%= render 'form' %>
	</div>
</div>
