<%= javascript_include_tag "products_admin" %>
<%- model_class = Producto -%>
<div class="validation-system">
  <div class="validation-form">
      <h2><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h2>
      <%= render 'form' %>

  </div>
</div>

