<div class="container fill">
  <h3>Modificar Rol de Usuario</h3>
  <div class="breadcrumb">
    <%= link_to 'Mostrar', @role%> |
    <%= link_to 'Atrás', roles_path %>
  </div>
  <%= render 'form' %>

</div>