<%= javascript_include_tag 'usuarios' %>
<% content_for :title, 'Mis datos' %>
<% navigation_add 'Mis datos', '#' %>
<div class="center-section">
	<div class="row">
	  <h3>Mis datos</h3>
    <br>
    <br>
    <div class="center-section_module">
      <%= render 'form' %>
    </div>
	</div>
</div>