<div class="container fill">
	<div class="row">
	  <h1>Modificar usuario</h1>
	  <div class="breadcrumb">
	    <%= link_to 'Mostrar', @usuario %> |
	    <%= link_to 'Volver', usuario_path(current_usuario) %>
	  </div>
	  <%= render 'form' %>

	</div>
</div>