<h1>Modificar usuario</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @usuario, class: 'btn btn-info btn-mini' %> |
<%= link_to 'Volver', usuario_path(current_usuario), class: 'btn btn-warning btn-mini' %>
