<div class="agile3-grids">
  <div class="gallery-grids">
    <div class="col-md-6 gallery-grids-left">
      <h2>Crear usuario</h2>
      <div class="breadcrumb">
        <%= link_to 'Atrás', usuarios_path%>
      </div>
      <%= render 'form' %>
	  </div>
	</div>
</div>