<div class="fill">
  <h2>Google Maps Report</h2>
	<div id="map-container">
	  <div id="map-canvas"></div>
	</div>
  <div id="messages"></div>
</div>

<%= javascript_tag do%>
  window.consumidores= <%=raw @usuarios.to_json %>;
<%end%>

<script>

	$(function(){
		var count = 0;

		function initialize() {
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){

				markers = handler.addMarkers([{
					"lat": -32.9576644,
					"lng": -60.6803937
				}]);

				handler.bounds.extendWith(markers);
				handler.fitMapToBounds();
				handler.getMap().setZoom(12);
			});

			setMarker(handler);
		}

		function setMarker(handler) {
			var address;
			if (consumidores != null && consumidores.length > 0) {
				for(var i =0;i<consumidores.length;i++){
					address= consumidores[i]['calle'] + ', ' + consumidores[i]['ciudad'] + ', Santa Fe, Argentina';
					encodeAddress(address, handler);
				}
			}
		}

		function addMarker(handler, newMarkers) {
			var maker = handler.addMarkers([
				newMarkers
			])
			handler.bounds.extendWith(maker);
		}



		function encodeAddress(address, handler) {
			var newMarkers = {};
			var delay = 1000;
			var geocoder = new google.maps.Geocoder();
			if (geocoder) {
				geocoder.geocode({'address' : address}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						newMarkers = {
							"lat": results[0].geometry.location.lat(),
							"lng": results[0].geometry.location.lng(),
							"picture": {
								"url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-16.png",
								"width":  16,
								"height": 16
							},
							"infowindow": address
						}
						count= count + 1;
						var msg = 'Ingresado: "' + count + '" de:  ' + consumidores.length;
						document.getElementById("messages").innerHTML = msg;
						addMarker(handler, newMarkers);
					}else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
						setTimeout(function () {
							encodeAddress(address, handler);
						}, delay);
					} else {
						var reason="Code "+status;
						var msg = 'Domilicio="' + address + '" error=' +reason+ '<br>';
						console.log(msg);
					}
				})
			}
		}

		google.maps.event.addDomListener(window, 'load', initialize)

	});


</script>
