
@facebook: #3b5998;
@rojo:#BD3B2F;
@texto-home: #A38C78;
@bg-error: #E5630D;
@icons-reg: #464f58;



// Fonts AND Colors
///////////////////////////////////

@font-bold: 'liberation_sansbold';
@font-reg: 'liberation_sansregular';
@font-titles: 'liberation_sansregular';
@font-others: 'Kreon', 'serif';
@lila: #9B6185;


@font-face {
  font-family: 'liberation_sansitalic';
  src: asset-url("liberationsans-italic-webfont.eot");
  src: asset-url("liberationsans-italic-webfont.eot?#iefix") format("embedded-opentype"),
  asset-url("liberationsans-italic-webfont.woff") format("woff"),
  asset-url("liberationsans-italic-webfont.ttf") format("truetype"),
  asset-url("liberationsans-italic-webfont.svg#liberation_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansregular';
  src: asset-url("liberationsans-regular-webfont.eot");
  src: asset-url("liberationsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
  asset-url("liberationsans-regular-webfont.woff") format("woff"),
  asset-url("liberationsans-regular-webfont.ttf") format("truetype"),
  asset-url("liberationsans-regular-webfont.svg#liberation_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation_sansbold_italic';
  src: asset-url("liberationsans-bolditalic-webfont.eot");
  src: asset-url("liberationsans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  asset-url("liberationsans-bolditalic-webfont.woff") format("woff"),
  asset-url("liberationsans-bolditalic-webfont.ttf") format("truetype"),
  asset-url("liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_sansbold';
  src: asset-url("liberationsans-bold-webfont.eot");
  src: asset-url("liberationsans-bold-webfont.eot?#iefix") format("embedded-opentype"),
  asset-url("liberationsans-bold-webfont.woff") format("woff"),
  asset-url("liberationsans-bold-webfont.ttf") format("truetype"),
  asset-url("liberationsans-bold-webfont.svg#liberation_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mision-icons';
  src: asset-url("mision-icons.eot?-ptbqre");
  src: asset-url("mision-icons.eot?#iefix-ptbqre") format("embedded-opentype"),
  asset-url("mision-icons.woff?-ptbqre") format("woff"),
  asset-url("mision-icons.ttf?-ptbqre") format("truetype"),
  asset-url("mision-icons.svg?-ptbqre#mision-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'mision-icons';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-key:before {
  content: "\f049";
}
.icon-lock:before {
  content: "\f06a";
}

.icon-facebook:before {
	content: "\e61e";
}
.icon-facebook2:before {
	content: "\e61f";
}
.icon-twitter:before {
	content: "\e620";
}
.icon-twitter2:before {
	content: "\e621";
}
.icon-twitter3:before {
  content: "\e622";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-radio-checked:before {
  content: "\e641";
}
.icon-radio-unchecked:before {
  content: "\e642";
}
.icon-house:before {
  content: "\e674";
}
.icon-location:before {
  content: "\e63b";
}
.icon-new:before {
  content: "\e644";
}

.bt-1(@font-size:14px, @color: #FFF, @hover: @rojo, @radius:3px) {
  font-size: @font-size;
  text-transform: uppercase;
  color: @color;
  border-radius: @radius;
  border: 1px solid @color;
  padding: 10px 15px 10px 15px;
  background: transparent;
  //display: block;
  &:hover {
    color: @color;
    background-color: @hover;
    border:1px solid @rojo;
    text-shadow: 0 0 0;
  }
}
.bt-2 (@font-size:14px, @color: #FFF, @hover:red, @radius:4px) {
  font-size: @font-size;
  text-transform: uppercase;
  color: @color;
  border-radius: @radius;
  border:2px solid @color;
  padding: 10px;
  background:transparent;
  display: inline-block;
  &:hover {
    color: @hover;
    border: 2px solid @hover;
  }
}

a, a:hover{
  text-decoration: none;
}



#tigre {
  min-height: 280px;
  background: image-url('tigre.png') center 20px no-repeat;
  background-size: contain;
}


#footer-content {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-bottom: -330px;
}

#footer {
  padding: 30px 0;
  @include box-shadow( 0px 4px 8px 0 #444 inset);
  width: 110%;
  margin-left: -5%;
}

#footer-bar {
  padding: 0 20px;
  background: #444;
  .footer-bar-left {
    text-align: left;
    float: left;
    a {
      color: #fff;
      display: inline-block;
      font-family: @font-reg;
      font-size: 12px;
      line-height: 24px;
      padding: 10px 15px 9px 39px;
      position: relative;
      text-transform: uppercase;
      span {
        font-size: 20px;
        left: 13px;
        position: absolute;

      }
      &:hover {
        background: @rojo;
      }
    }
  }
  .footer-bar-right {
    text-align: right;
    a {
      background: #565656;
      color: #fff;
      display: inline-block;
      font-family: @font-reg;
      font-size: 12px;
      line-height: 24px;
      padding: 10px 15px 9px 39px;
      position: relative;
      text-transform: uppercase;
      span {
        font-size: 20px;
        left: 13px;
        position: absolute;

      }

    }

    .lm-facebook:hover {
      background: @facebook;
    }
    .lm-twitter:hover {
      background: #777;
    }
  }
}

#footer-info {
  background: #222;
  height: 100px;
}
#footer-info-home {
  background: image-url('taco_logo_foot.png')  center top no-repeat;
@include background-size(cover);
  height: 280px;
}

#toTop {
  background: none repeat scroll 0 0 rgba(189, 59, 47, 0.8);
  bottom: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-family: Roboto;
  padding: 14px;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  z-index: 55;
}