<p>Bienvenidx <%= @email %>!</p>

<p>Podés confirmar tu cuenta de usuario siguiendo el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
