<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito cambiar tu contraseña. Para realizar el cambio presione el siguiente link.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>En caso de no haberlo solicitado, por favor ignora este email.</p>
<p>Tu clave no cambiara a menos que hagas click en el link de arriba y realices el cambio.</p>
