<div class="container fill">
  <div class="row">
    <h2>Editar transacción</h2>
    <div class="breadcrumb">
      <%= link_to 'Atras', transactions_path %>
    </div>

		<%= render 'form' %>

	</div>
</div>