<%= javascript_include_tag "transactions", params[:controller] %>
<div class="container fill">
  <div class="row">
    <h2>Nueva transacción</h2>
    <div class="breadcrumb">
      <%= link_to 'Atras', transactions_path %>
    </div>

		<%= render 'form' %>

	</div>
</div>
