<%= javascript_include_tag "suppliers_admin" %>
<div class="validation-system">
  <div class="validation-form">
	  <h2>Modificar proveedor</h2>
	  <div class="breadcrumb">
	    <%= link_to 'Atras', suppliers_path %>
	    <%= link_to 'Mostrar', @supplier%>
	  </div>
	  <%= render 'form' %>

	</div>
</div>

