<h1>Modificar proveedor</h1>
<div class="suppliers">
  <div class="breadcrumb">
    <%= link_to 'Atras', suppliers_path %>
    <%= link_to 'Mostrar', @supplier%>
  </div>
  <%= render 'form' %>

</div>

