<div class="container fill">
	<div class="row">
	  <h2>Modificar proveedor</h2>
	  <div class="breadcrumb">
	    <%= link_to 'Atras', suppliers_path %>
	    <%= link_to 'Mostrar', @supplier%>
	  </div>
	  <%= render 'form' %>

	</div>
</div>

