<div class="fill">
  <div class="row">

    <% if usuario_signed_in? && current_usuario.admin? %>
        <h2>Lista de Proveedores</h2>
    <% else %>
        <h2>Nuestros productores</h2>
    <% end %>
	  <div class="navbar navs-fixed">
	    <%= link_to t('Crear Proveedor', :default => t('helpers.links.new')),
	                new_supplier_path,
	                :class => 'btn btn-primary' if can? [:manage], Supplier
	    %>
	  </div>
  </div>

  <% if usuario_signed_in? && current_usuario.admin? %>
    <%= render 'admin_suppliers' %>
  <% else %>
    <%= render 'suppliers' %>
  <% end %>
</div>
