<div class="faq">
  <h3>Preguntas frecuentes</h3>
  <br>
  <br>
  <br>
  <h4>COMPRAS/PEDIDOS</h4>
  <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title asd">
          <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Qué productos puedo comprar en la Misión?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body panel_text">
          En la Misión podés acceder a MÁS DE 350 PRODUCTOS que abarcan toda la canasta básica familiar. 
          Frutas, verduras, lácteos, bebidas, panificados, galletitas, enlatados, condimentos, carnes y un gran etc.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cuánto ahorro comprando en la Misión?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body panel_text">
          Se logra un 30% DE AHORRO promedio* en comparación con una compra similar en cualquier super/hipermercado.
          <br>
          <small>*El ahorro total siempre depende de cada compra en particular. La cifra obtenida es basada en
            estudios propios con respecto a las principales cadenas de hipermercados de Rosario.</small>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Hay límites de compra?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body panel_text">
          NO hay límite máximo ni mínimo. El monto de la compra y la cantidad de productos son totalmente libres.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cada cuánto puedo realizar un pedido?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body panel_text">
          Los pedidos se realizan una vez cada cuatro -4- semanas. Siempre avisamos previamente a les asociades
          de la apertura del carro digital vía whatsapp y correo eléctronico para que no se olviden de pedir.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Qué sucede si un mes ningún asociade del círculo realiza un pedido?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body panel_text">
          Dado que no es obligatorio hacer un pedido todos los meses, el círculo se mantiene activo y pueden comprar
          sin problemas en el futuro sin necesidad de avisar. Lo importante es que aquellos círculos que puedan,
          hagan de todas formas el pago de la cuota social ya que es lo que garantiza que el proyecto continúe funcionando.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cuáles son los requisitos para comprar?
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body panel_text">
          <ol>
            <li>
              <p>Ser parte de un círculo</p>
              <span>En primer lugar debe organizarse con 2 a 4 personas inscriptas más que quieran ser parte.
                De esta manera podrá conformar su círculo de asociades de confianza.</span>
            </li>
            <li>
              <p>Abonar la cuota social mensual del círculo</p>
              <span>Cada círculo (sin importar cuantas personas lo componen), para obtener los beneficios de
                participar en la Misión y poder realizar sus compras a través de este mecanismo, debe abonar una 
                cuota social mensual de $200,00 (doscientos pesos argentinos). La misma se utilizará para el
                crecimiento, desarrollo y expansión del proyecto.</span>
            </li>
          </ol>

          +info <%= link_to como_compro_path(1) do %>Cómo comprar <% end %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <h4>PAGOS</h4>
  <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingPayOne">
        <h4 class="panel-title asd">
          <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayOne" aria-expanded="true" aria-controls="collapsePayOne">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cuáles son los métodos de pago?
          </a>
        </h4>
      </div>
      <div id="collapsePayOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPayOne">
        <div class="panel-body panel_text">
          Los métodos de pago son depósito bancario y/o transferencia. Próximamente tendremos más opciones.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingPayTwo">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayTwo" aria-expanded="false" aria-controls="collapsePayTwo">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cada asociade paga su parte de la compra?
          </a>
        </h4>
      </div>
      <div id="collapsePayTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayTwo">
        <div class="panel-body panel_text">
          Desde la Misión preferimos que se haga un solo pago por el pedido del círculo completo sumada la cuota
          social. Si eventualmente hacen pagos por separado pedimos que nos envíen todos los comprobantes juntos
          al correo electrónico para que sea más sencillo de controlar.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingPayThree">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayThree" aria-expanded="false" aria-controls="collapsePayThree">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cómo sabemos cuándo y cuánto pagar?
          </a>
        </h4>
      </div>
      <div id="collapsePayThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayThree">
        <div class="panel-body panel_text">
          Luego de que cierra el ciclo de compras se le envía un detalle al coordinador/a informando cuánto tiene que
          abonar todo el círculo por su pedido así como las formas de pago.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingPayFour">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayFour" aria-expanded="false" aria-controls="collapsePayFour">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿En qué momento hay que abonar?
          </a>
        </h4>
      </div>
      <div id="collapsePayFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayFour">
        <div class="panel-body panel_text">
          El pago se debe realizar antes de retirar el pedido.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingPaySix">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePaySix" aria-expanded="false" aria-controls="collapsePaySix">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cómo se hace un depósito bancario o una transferencia?
          </a>
        </h4>
      </div>
      <div id="collapsePaySix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPaySix">
        <div class="panel-body panel_text">
          Descargar
          <%= link_to('instructivo',
                      faq_download_instructivo_path(1),
                      class: 'btn btn-link') %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <h4>RETIROS</h4>
  <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingRetireTwo">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRetireTwo" aria-expanded="false" aria-controls="collapseRetireTwo">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Tienen que ir todes les asociades a retirar el pedido?
          </a>
        </h4>
      </div>
      <div id="collapseRetireTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRetireTwo">
        <div class="panel-body panel_text">
          No es necesario. Con que vaya al menos un integrante del círculo a retirar ya es suficiente para que se
          lleve el pedido de todes.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingRetireThree">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRetireThree" aria-expanded="false" aria-controls="collapseRetireThree">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Podemos buscar el pedido por separado?
          </a>
        </h4>
      </div>
      <div id="collapseRetireThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRetireThree">
        <div class="panel-body panel_text">
          Para una mejor organización tanto de la Misión como de les asociades, se debe retirar el pedido de todo
          el círculo al mismo tiempo.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingRetireFive">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRetireFive" aria-expanded="false" aria-controls="collapseRetireFive">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Podemos cambiar el punto de retiro? 
          </a>
        </h4>
      </div>
      <div id="collapseRetireFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRetireFive">
        <div class="panel-body panel_text">
          Se puede siempre y cuando todo el círculo se muestre de acuerdo. Solamente deben avisarnos vía mail
          a victoriacolectiva@gmail.com o por whatsapp al celular del distrito en el cual venían participando
          para hacer el cambio.
          <br>
          <br>
          De todas formas entendemos que estos cambios no deberían ser frecuentespara una mejor organización tanto
          de la Misión como del círculo.
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <h4>CÍRCULOS</h4>
  <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleOne">
        <h4 class="panel-title asd">
          <p>
            Para poder comprar tenés que estar registrado/a y pertenecer a un círculo de asociados/as.
            Un círculo es un grupo de una persona o más que están registradas en nuestra página.
            A cada una de esas personas se las denomina “asociado/a”.
          </p>
          <p>
            <ul>
              <li>Click aquí para registrarse.</li>
              <li>Ya estoy registrado/a pero no tengo círculo. ¿Cómo hago?</li>
            </ul>
          </p>
          <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleOne" aria-expanded="true" aria-controls="collapseCircleOne">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Qué es un círculo?
          </a>
        </h4>
      </div>
      <div id="collapseCircleOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCircleOne">
        <div class="panel-body panel_text">
          Es un grupo de una persona o más que están registradas en la web (el máximo de integrantes es cinco -5-).
          A cada una de esas personas se las denomina “asociado/a”. Puede crearse entre familiares, amigues,
          compañerxs de trabajo, etc.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleTwo">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleTwo" aria-expanded="false" aria-controls="collapseCircleTwo">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cómo se crea el círculo?
          </a>
        </h4>
      </div>
      <div id="collapseCircleTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircleTwo">
        <div class="panel-body panel_text">
          Una de las personas debe crearlo y asumirá el rol de coordinador/a de círculo (fundamentalmente cumple
          la función de ser el nexo entre la Misión y el resto del grupo). Luego puede agregar al resto de los integrantes.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleThree">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleThree" aria-expanded="false" aria-controls="collapseCircleThree">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Por qué hay que formar parte de un círculo para comprar?
          </a>
        </h4>
      </div>
      <div id="collapseCircleThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircleThree">
        <div class="panel-body panel_text">
          Porque creemos que para hacerle frente a problemas concretos como la inflación, es mejor hacerlo organizado
          y junto con otres. Es salir del consumo individual al que estamos acostumbrades e ingresar en el consumo
          colaborativo, es decir, un consumo basado en los lazos y la solidaridad entre pares.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleFour">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleFour" aria-expanded="false" aria-controls="collapseCircleFour">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Cómo sumar asociades a un círculo?
          </a>
        </h4>
      </div>
      <div id="collapseCircleFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircleFour">
        <div class="panel-body panel_text">
          Existen dos formas:
          <ul>
            <li>El coordinador/a lo agrega desde la sección “Mi círculo” ingresando el número de usuarix de la
              persona del nuevo integrante.</li>
            <li>El nuevo integrate solicita acceso ingresando el número de círculo al cual se quiere sumar
              desde la sección “Mi círculo”.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleFive">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleFive" aria-expanded="false" aria-controls="collapseCircleFive">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Podemos cambiar el coordinador/a de un círculo?
          </a>
        </h4>
      </div>
      <div id="collapseCircleFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircleFive">
        <div class="panel-body panel_text">
          Se puede pero no lo pueden hacer desde la web. Para ello deben mandar un mensaje de whatsapp al contacto
          de su distrito de retiro o bien a victoriacolectiva@gmail.com y solicitarlo. Se debe informar número de
          círculo y quién pasará a ser la persona que coordinará en el futuro.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingCircleSix">
        <h4 class="panel-title asd">
          <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircleSix" aria-expanded="false" aria-controls="collapseCircleSix">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
            ¿Qué sucede si ya no queremos comprar?
          </a>
        </h4>
      </div>
      <div id="collapseCircleSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircleSix">
        <div class="panel-body panel_text">
          Si es el círculo completo que quiere dejar de participar basta con que dejen de hacer pedidos. Si no
          quieren continuar recibiendo notificaciones sobre los ciclos de compras y demás, deben enviar un mail
          a victoriacolectiva@gmail.com solicitándolo.
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-12">
      <p>
        SI NO ENCONTRÁS LA RESPUESTA QUE BUSCÁS PODÉS ENVIAR UN WHATSAPP AL CONTACTO DE TU DISTRITO,
        A NUESTRAS REDES SOCIALES O UN CORREO ELECTRÓNICO A VICTORIACOLECTIVA@GMAIL.COM
      </p>
    </div>
  </div>

</div>
