<div class="container fill">
  <div class="row">
	  <div class="col-md-6">
		  <h1>Preguntas frecuentes</h1>
		  <p>Si no encontras la respuesta tus dudas respecto a la Misión, escribinos a victoriacolectiva@gmail.com o a
		    través de nuestra fanpage de Facebook</p>
	  </div>
    <div class="col-md-6">
      <div id="accordion" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Cuáles son los requisitos?</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
							<h4>Ser parte de un círculo!</h4>
							<p>De la Misión Anti-inflación puede participar cualquier hogar (no importa su barrio, la cantidad de personas que lo
								integran, etc.). El único requisito es organizarse con 2, 3 o 4 hogares más que quieran ser parte de la Misión.
								De esta manera podrá conformar su círculo de consumidores de confianza.
							 </p>
							<h4>Garantizar la búsqueda de los pedidos del círculo</h4>
							<p>Es importante que entre los miembros del círculo haya algún tipo de movilidad (auto, camioneta) que permita realizar
							el retiro de la mercadería en el Centro de Distribución de las compras de todos los hogares que conforman el círculo,
							o que algún miembro se ofrezca a retirarla a través de algún medio de transporte público o privado.
							 </p>
							<h4>Abonar la cuota social mensual del círculo</h4>
							<p>Cada círculo (sin importar si está compuesto por 3, 4 o 5 hogares), para obtener los beneficios de la Gran Misión y
							poder realizar sus compras a través de este mecanismo, debe abonar una cuota mensual de $150,00 (ciento cincuenta
							pesos argentinos). La misma se utilizará para el crecimiento y potencialización de la iniciativa, a través de la
							compra de equipamiento para el Centro de Distribución (cámaras de frío, estanterías, balanzas), como así también
							para financiar a los pequeños productores o productores familiares que necesiten mejorar su emprendimiento, a través
							de compra de equipamiento e insumos. Todas estas inversiones serán consultadas y comunicadas a los círculos de
							consumidores colaborativos, para que puedan ser parte del crecimiento y fortalecimiento de la iniciativa.
							 </p>
							<h4>Designar un coordinar de círculo</h4>
							<p>Se debe designar un coordinador entre los hogares que conforman el círculo, el cual será el vínculo de comunicación
							más directo entre el círculo y la organización de la Gran Misión. Este coordinador tendrá las siguientes funciones:
							inscribir el círculo; notificar la apertura del período de compra a los miembros de su círculo; centralizar los
							pedidos de su círculo y enviar la información a la Gran Misión; garantizar que algún miembro del círculo se encargue
							de efectuar el pago por el monto total de todas las compras del círculo, incluida la cuota mensual; notificar a la
							Misión el número de comprobante de pago, el miembro del círculo y el horario en que retirará los pedidos del total
							del círculo. Todas estas tareas el coordinador las realizará vía web, desde su casa o trabajo.
							 </p>
	          </div>
          </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">¿Con cuántas familias debo conformar mi círculo?</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
							 <p>Cada círculo tiene que estar conformado con al menos 3 hogares y como máximo 5 hogares. La conformación de los círculos
							es totalmente voluntaria, y decidida por quienes conforman el círculo.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">¿Puedo cambiar los miembros de mi círculo?</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Si. Siempre y cuando el círculo quede integrado por, al menos, 3 hogares se pueden modificar los integrantes.
							Igualmente desde la Misión, recomendamos mantener cierta estabilidad en los miembros del círculo para garantizar las
							distintas tareas del mismo. Lo importante es que quien se inscriba como coordinador, pueda garantizar su continuidad ya
							que su rol es relevante para garantizar la participación en la misión.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">¿Es necesario que mi círculo lo conforme con gente conocida?</a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Desde la Misión Anti-inflación recomendamos que a la hora de conformar un círculo, el hogar pueda hacerlo con vecinos,
							amigos, familiares, compañeros de trabajo, etc., ya que lo importante es organizarnos con personas de confianza con los
							cuales se puedan coordinar las distintas tareas (pago de los pedidos, retiro de la compra, etc.). No obstante la
							conformación de cada círculo de consumidores, es totalmente voluntaria y autónoma. La Misión no interviene en la
							conformación del círculo, ni en la distribución de las tareas a su interior.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Si no vivo en Rosario ¿Igual puedo participar?</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Por supuesto que sí! Mientras tu círculo pueda garantizar el retiro de los pedidos en el Centro de Distribución que se
							encuentra en Rosario, podes ser parte. Al mismo tiempo, podes armar tu círculo con hogares rosarinos o de cualquier
							localidad cercana, con los cuales te organices mejor.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">¿Hay que elegir una institución para cada círculo?</a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
							<p>No, los círculos de confianza cada hogar lo conforma con otros con los que decida participar de la Misión. En una
							próxima etapa, la idea es que distintas instituciones de la ciudad, como centros de jubilados, clubes, vecinales,
							centros de estudiantes, escuelas y cooperadoras, etc. puedan ser centros de distribución y conformar círculos al
							interior de sus organizaciones.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">¿Cómo inscribo mi círculo?</a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Para inscribir su círculo lo primero que tiene que definir es la persona que lo coordinará. Esa persona, ingresa al
							sitio web www.misionantiinflacion.com.ar y se dirige a la sección “Quiero conformar mi círculo” allí completará un
							formulario con sus datos personales, y al mismo tiempo cargará los nombres y mails de los integrantes de su círculo.
							La web enviará a esos mail un formulario similar, para que los consumidores colaborativos de su círculo completen sus
							datos personales y acepten conformar su círculo de confianza.\nUna vez que, al menos, 3 hogares cargaron sus datos,
							se da de alta el círculo, y cada hogar posee una cuenta de usuario individual, desde la cual realizará sus pedidos.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">¿Tiene algún costo ser parte de la Misión Anti-inflación?</a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Cada círculo (sin importar si está compuesto por 3, 4 o 5 hogares), para obtener los beneficios de la Gran Misión y
							poder realizar sus compras a través de este mecanismo, debe abonar una cuota mensual de $150,00 (ciento cincuenta pesos
							argentinos) por círculo, no por consumidor. Es decir, si un círculo está conformado por 5 hogares, cada hogar
							abonará $30,00 en concepto de cuota; si un círculo está compuesto por 4 hogares, cada uno abonará $ 37,50, y si el
							círculo es de 3 miembros, cada uno abonará $50,00 en concepto de cuota. La cuota se utilizará para el crecimiento y
							potencialización de la iniciativa, a través de la compra de equipamiento para el Centro de Distribución (cámaras de
							frío, estanterías, balanzas), como así también para financiar a los pequeños productores o productores familiares
							que necesiten mejorar su emprendimiento, a través de compra de equipamiento e insumos. Todas estas inversiones serán
							consultadas y comunicadas a los círculos de consumidores colaborativos, para que puedan ser parte del crecimiento y
							fortalecimiento de la iniciativa.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">¿Quiénes intervienen en la Misión y que tareas cumple cada uno? Consumidores, coordinadores, círculo y equipo
                Misión.</a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Tareas de cada uno de los consumidores colaborativos</p>
							<ol>
							  <li>1 - Realizar su pedido mensual, vía web</li>
							</ol>Tareas del círculo<ol>
							  <li>1 - Abonar el monto total del círculo (lo correspondiente a los pedidos realizados por cada miembro del
							    círculo + la cuota social)</li>
							  <li>2 - Retirar los pedidos en el Centro de Distribución</li>
							</ol>
							<p>Tareas del coordinador de círculo:</p>
							<ol>
							  <li>1 - Ser el vínculo directo entre su círculo y la Misión Antiinflación. Confirmar vía web: los pedidos del
							    círculo, el comprobante de pago, la persona y horario en que se retiran los pedidos.
							  </li>
							  <li>2 - Coordinar las tareas del círculo: garantizar que un miembro del mismo realice tanto el pago como el retiro
							    de los pedidos.
							  </li>
							  <li>3 - Puede incluir, retirar o modificar a los consumidores colaborativos de su círculo, Garantizando que en todos
							    los casos como mínimo el círculo tenga 3 miembros, y no más de 5.
							  </li>
							</ol>
							<p>Cada círculo decide si hay una persona fija encargada de cada actividad, o si las tareas son rotativas. Al mismo
							tiempo puede decidir si quien retira los pedidos se encarga de distribuirlos, o si cada consumidor lo busca en el
							domicilio de alguno de los miembros del círculo.\n\nTareas del equipo Misión Antiinflación:
							</p>
							<ol>
							  <li>1 - Sistematizar los pedidos que llegan de cada círculo.</li>
							  <li>2 - Verificar que se realice el pago del círculo</li>
							  <li>3 - Realizar los pedidos y pago a los proveedores</li>
							  <li>4 - Armar los pedidos de cada círculo</li>
							  <li>5 - Entregar los pedidos de cada círculo</li>
							</ol>
							<p>Lo central de la Misión Antiinflación es la economía colaborativa, por el cual cada uno de los ciudadanos que
							intervienen comparte la idea de la cooperación. Todos los actores que participan lo hacen de manera voluntaria, y de
							acuerdo a sus intereses y tiempo disponible, se comprometen de diversas formas en la realización de la Misión.
							Actualmente el equipo de la Misión está íntegramente conformado por militantes del Frente Ciudad Futura, pero la idea
							es que cada vez más hombres y mujeres se puedan sumar a la realización de las distintas tareas, tanto consumidores
							como productores que forman parte de esta iniciativa. Una tarea transversal a todos los actores de la Misión, es la
							difusión y comunicación de la propuesta en nuestros ámbitos de trabajo, estudio, vecindad, etc.; como así también la
							participación en las consultas y encuestas de opinión que se irán haciendo mes a mes para ir mejorando y fortaleciendo
							la Misión Antiinflación.
						  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

