<div class="container fill">
  <div class="row">
	  <div class="col-md-6">
		  <h1>Preguntas frecuentes</h1>
		  <p>Si no encontras la respuesta tus dudas respecto a la Misión, escribinos a victoriacolectiva@gmail.com o a
		    través de nuestra fanpage de Facebook</p>
	  </div>
    <div class="col-md-6">
      <div id="accordion" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Si no vivo en Rosario ¿Igual puedo participar?</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Por supuesto que sí. Mientras puedas garantizar el retiro de los pedidos en el centro de distribución
                que se encuentra en Rosario, podés ser parte.
              </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">¿Puedo participar de un Mini-Ciclo y también de un Ciclo Tradicional?</a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Totalmente, pero para participar de un ciclo tradicional debés formar parte de un <b>círculo de compras</b>.
              </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">¿Qué sucede si un mes ningún miembro del círculo realiza un pedido?</a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Dado que no es obligatorio hacer un pedido todos los meses, el círculo se mantiene activo.
                Lo importante es que aquellos círculos que puedan, hagan de todas formas el pago de la cuota
                social ya que es lo que garantiza que el proyecto continúe funcionando.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">¿Cuánto ahorro comprando en la Misión?</a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Si bien el ahorro total siempre depende de cada compra en particular, según estudios propios, haciendo
                una compra para todo el mes en la Misión en lugar de hacerlo en un hipermercado, se logra en promedio
                un <b>30% de ahorro</b>.
							 </p>
	          </div>
	        </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">¿Por qué no puedo ver los precios en el carrito?</a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
							<p>Los precios se pueden ver solamente estando registrado y cada vez que hay un ciclo de compras abierto.
                Mientras tanto, se puede visualizar el porcentaje de ahorro de cada producto con respecto al mismo
                en un hipermercado.</p>
						</div>
					</div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">¿Dónde se retiran los pedidos?</a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Los pedidos se retiran por el centro de distribución de la Misión que queda en
                <b>Constitución 2298 (esquina La Paz), ciudad de Rosario</b>.</p>
            </div>
          </div>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">¿Por qué hay que pagar una cuota mensual además del pedido?</a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Dado que la Misión no tiene fines de lucro, la remarcación de los precios es casi inexistente en la
                mayoría de los productos por lo cual es necesario el pago de la cuota para la mantención,
                desarrollo y expansión del proyecto.</p>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>

