<div class="container fill">
	<h3>Modificar Depósito</h3>
	<div class="breadcrumb">
		<%= link_to 'Mostrar', @warehouse%> |
		<%= link_to 'Atrás', warehouses_path %>
	</div>
	<%= render 'form' %>

</div>