<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info">
      <div class="navbar navs-fixed">
        <h2>Coordinadores que no compraron</h2>
        <% if current_usuario && current_usuario.admin? %>
          <%= form_tag coordinators_without_orders_reports_path, method: :get, class: 'form-inline' do %>
            <h4>Seleccionar ciclo:</h4>
            <div class="form-group">
              <label for="ciclo_id">Ciclo:</label>
              <%= select_tag "ciclo_id",
                             options_from_collection_for_select(@ciclos, "id", "nombre", @ciclo ? @ciclo.id : ''),
                             include_blank: true, class: 'form-control input-sm' %>
            </div>
            <%= submit_tag 'Filtrar', class: "btn btn-success btn-xs" %>
          <% end %>
        <% end %>
      </div>
      <% if @coordinators.present? %>
        <% @coordinators.each do |coordinator_id, coordinator| %>
          <table class="table">
            <thead>
            <tr>
              <th width="20%">Proveedor</th>
              <th width="10%">Código Producto</th>
              <th width="60%">Producto</th>
              <th width="10%">Cantidad</th>
            </tr>
            </thead>

            <tbody>



            </tbody>
          </table>
          <br/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
