<!-- footer -->
<div class="footer">
  <div class="container">
    
    <div class="w3_footer_grid">
      <ul class="w3_footer_grid_list">
        <li>
          <i class="fa fa-question"></i>
          <%= link_to "Preguntas frecuentes", faqs_path%>
        </li>
        <li>
          <i class="fa fa-book"></i>
          <%= link_to "Tétrminos y Condiciones", terms_conditions_path %>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //footer -->