<div class="row">
  <div class="col-xs-6 col-md-6">
    <div class="text-center">
      <%= link_to(root_path) do %>
        <%= image_tag("logoHeader.png", :class => 'img-responsive') %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6 col-md-6">
    <div class="text-center">
      <h1>Panel Aministración</h1>
      <h4>Misión Anti Inflación</h4>
    </div>
    <%= link_to('http://www.ciudadfutura.com.ar', target:"_blank") do %>
      <%= image_tag("logo cf-01.png", :class => 'img-responsive') %>
    <% end %>
  </div>
</div>