<% section = get_section(request) %>
<div class="row justify-content-center">
  <div class="col-xs-12 col-md-12">
    <div class="text-center">
      <%= link_to(root_path) do %>
          <%= image_tag 'headerNavidad.png', class: 'img-responsive center-block'%>
      <% end %>
    </div>
  </div>
</div>