<div class="row">
  <div class="col-xs-6 col-md-6">
    <%= link_to(root_path) do %>
        <h1>Misión Anti Inflación</h1>
    <% end %>

  </div>
  <div class="col-xs-6 col-md-6">
    <div class="text-center">
      <h1>Panel Administración</h1>
    </div>
  </div>
</div>