<li><%= link_to "PRODUCTOS", productos_path, id: "categoria-toggle", class: "nav-links"%></li>
<li><%= link_to "CÓMO FUNCIONA", como_compro_path(1), class: "nav-links"%></li>
<li><%= link_to "DÓNDE ESTAMOS", warehouses_path, class: "nav-links"%></li>
<li><%= link_to "QUIÉNES SOMOS", about_us_path, class: "nav-links"%></li>