<div class="w3l_header_right user_menu">
  <ul>
    <li class="dropdown profile_details_drop">
      <% if usuario_signed_in? %>
        <%= render 'layouts/user_online' %>
      <% else %>
        <%= render 'layouts/user_offline' %>
      <% end %>
    </li>
  </ul>
</div>