<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;">
  <i class="fa fa-user" aria-hidden="true" style="color:black;"></i>
</a>
<div class="dropdown">
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <%= link_to(usuario_session_path) do %>
        Ingresar
      <% end %>
    </li>
    <li class="dropdown-item">
      <%= link_to(new_usuario_registration_path) do %>
        Registrate
      <% end %>
    </li>
  </ul>
</div>