<!DOCTYPE html>
<html>
<head>
  <title>Misión Anti Inflación</title>
  <%= javascript_include_tag "application", params[:controller] %>
</head>
<body>
<%= link_to cart_path do%>
  <i class="fi-shopping-cart"></i>
  Carrito
  (<span class="cart-count"><%=session[:product_ids].count%></span>)
<%end%>

<%= yield %>

</body>
</html>
