<div class="container fill">
  <div class="row">
    <h2>Modificar cuenta</h2>
    <div class="breadcrumb">
      <%= link_to 'Atras', accounts_path %>
      <%= link_to 'Mostrar', @account%>
    </div>
		<%= render 'form' %>

	</div>
</div>